<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyPrivateFeed" value="https://pkgs.dev.azure.com/kshitijachavan040133/AzureDevops
    /_packaging/AzureDevopsFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MyPrivateFeed>
      <add key="Username" value="Azure DevOps" />
      <add key="ClearTextPassword" value="DRvZwkDkqlt1ScyqdMoL1X6dcOCNTw2G05mbGVdybYt7DfR9dFAMJQQJ99BEACAAAAAAAAAAAAASAZDO36jw" />
    </MyPrivateFeed>
  </packageSourceCredentials>
</configuration> 